a:hover:not(span > a) {
  text-decoration: underline overline !important;
}

body,
html {
  color: black;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.8em;
  margin: 0;
  scroll-behavior: smooth;
}

.cimg1 {
  background-image: url("img/bg1.jpg");
  min-height: 100%;
}

.cimg2 {
  background-image: url("img/bg2.jpg");
  min-height: 400px;
}

.cimg3 {
  background-image: url("img/bg3.jpg");
  min-height: 400px;
}

.cimg4 {
  background-image: url("img/bg4.jpg");
  min-height: 100%;
}

.cimg1,
.cimg2,
.cimg3,
.cimg4 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  position: relative;
}

.ctext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ctext .fondo {
  background-color: #111;
  color: white;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.ctext .fondo.transparente {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: right;
}

nav {
  background-color: black;
  padding: 10px;

  position: sticky;
  top: 0;
}

.seccion {
  text-align: center;
  padding: 50px 80px;
}

.seccion-clara a,
.seccion-clara a:link,
.seccion-clara {
  color: #000;
  text-decoration: none;
}

.seccion-clara {
  background-color: #f4f4f4;
}

.seccion-dark a,
.seccion-dark a:link,
.seccion-dark {
  color: #ddd;
  text-decoration: none;
}

.seccion-dark {
  background-color: #282e34;
}

span {
  padding: 10px;
  opacity: 0.6;
}

span a,
span a:link {
  color: white;
  text-decoration: none;
}

span:hover {
  border-color: cornsilk;
  border-width: 2px;
  border-style: dotted;
  border-radius: 8px;
  padding: 8px;
  opacity: 1;
}

@media (max-width: 568px) {
  .cimg1,
  .cimg2,
  .cimg3,
  .cimg4 {
    background-attachment: scroll;
  }
  .ctext {
    line-height: 1.8em;
  }
  header {
    display:none
  }
}
